@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .border-top {
        @apply border-t border-gray-200
    }

    .border-bottom {
        @apply border-b border-gray-200
    }

    .border-all {
        @apply border border-gray-200
    }
}


:root {
    --color-main: #6415FF;
    --color-secondary: #a273ff;
    --color-white: #fff;
    --color-black: #000;
}

/* logo */

.nav-logo{
    display: inline-block; 
    position: absolute;
    top: 3rem;
    left: 5rem;
    font-size: 3.5rem;
}

.logo-link {
    background-image: linear-gradient(to right bottom, var(--color-main), var(--color-secondary));
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Merienda', cursive;
    text-decoration: none;
}
/*      NAV        */

.navigation {
    font-size: 1.6rem;
}

#checkbox {
    display: none;
}

#navigation-button {
    position: fixed;
    top: 2rem;
    right: 2rem;
    height: 4rem;
    width: 4rem;
    background-color: var(--color-white);
    border-radius: 50%;
    z-index: 200;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 20%);
    text-align: center;
    line-height: 2;
    cursor: pointer;
}

.navigation-bg {
    position: fixed;
    top: 50px;
    right: 49px;
    height: 30px;
    width: 30px;
    background-image: radial-gradient(var(--color-main), var(--color-secondary));
    border-radius: 50%;
    z-index: 100;
    transition: transform 0.5s cubic-bezier(0.86,0,0.07,1);

    /* transform: scale(70) */

 }

.nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 150;
    opacity: 0; 
    width: 0;
    /* margin-right: -500px; */
    transition: all 0.5s cubic-bezier(0.86,0,0.07,1);
}

.nav-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.nav-item {
    margin: 2rem 0rem;
    font-weight: 700;
}

.nav-link:link,
.nav-link:visited {
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem 3rem; 
    background-image: linear-gradient(115deg, transparent 0%, transparent 50%, white 50%);
    background-size: 230%;
    border-radius: .2rem;
    transition: all 0.5s cubic-bezier(0.65, 0.04, 0.36, 1); 
}

.nav-link:hover {
    background-position: 100%;
    color: var(--color-secondary);
}

#checkbox:checked ~ .navigation-bg {
    transform: scale(70)
}

#checkbox:checked ~ .nav {
    opacity: 1;
    width: 100%;
    margin-right: 0px;
}


/* open & close icon */



.three-bar {
    position: relative;
}

.three-bar,
.three-bar::before,
.three-bar::after {
    display: inline-block;
    width: 2rem;
    height: 2px;
    background-color: #333;

    
}

.three-bar::before,
.three-bar::after {
    content: '';
    left: 0;
    position: absolute;
    transition: all 0.1s ease-in-out;
}

.three-bar::before { top: -10px; }
.three-bar::after { top: 10px; }

/* hover */

#navigation-button:hover .three-bar::before {
    top: -0.8rem;
}
#navigation-button:hover .three-bar::after {
    top: 0.8rem; 
}


/*   When checkbox is check    */

#checkbox:checked ~ #navigation-button .three-bar {
    background-color: transparent;
}
#checkbox:checked ~ #navigation-button .three-bar::after {
    transform: rotate(45deg);
    top: 0;
}
#checkbox:checked ~ #navigation-button .three-bar::before {
    transform: rotate(-45deg);
    top: 0; 
}



@media screen and (min-width:800px) {
    #navigation-button {
        display: none;
    }

    .navigation-bg {
        display: none;
    }

    .nav{
        opacity: 1;
        width: 100%;
        position: relative;
        top: 0;
        right: 0;
        height: 0vh;
        margin-right: 0px;
    }

    .nav-list {
        position: absolute;
        top: 0;
        right: 0; 
        left: 0;
        list-style: none;
        text-align: right;
        transform: translate(-0%, -0%);
        background-color: transparent;
        padding: 2rem; 
    }

    .nav-item {
        margin: 0rem;
        display: inline-block;
    }

    .nav-link:link,
    .nav-link:visited {
        text-decoration: none;
        font-size: 1rem;
        color: var(--color-black);
        text-transform: uppercase;
        font-weight: 500;
        padding: 1rem 3rem; 
        background-image: none;
        background-size: 230%;
        border-radius: .2rem;
        transition: all 0.5s cubic-bezier(0.65, 0.04, 0.36, 1); 
    }

    .nav-link:hover,
    .nav-link:active {
        background-position: 100%;
        color: var(--color-main);
    }
    
    .nav-logo{
        display: inline-block; 
        position: absolute;
        top: 0;
        left: 5rem;
        z-index: 1150;
        font-size: 3.5rem;
    }

    .logo-link {
        color: #fff;
        font-family: 'Merienda', cursive;
        text-decoration: none;
    }
}



